select {
  appearance: none;        /* removes the native arrow */
  /* then your own background, border, padding, custom arrow */
}

select,
::picker(select) {
  appearance: base-select;

}
* {
  box-sizing: border-box;
}

option:hover{
  background-color: rgb(21, 27, 53);
  font-size: 14px;
}


.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.game{
  font-size: 18px;
  border: 1px solid;
  padding: 10px;
  
}

.game:hover{
  background-color: rgb(21, 27, 53);
  font-size: 24px;

}

.score-win { color: green; }
.score-loss { color: red; }
.score-tie { color: gold; }

.logo {
  height: 20px;
  width: auto;
}